/*
fs - font size in px
fw - font weight
fem - font size in em

*/

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}
.fs-22 {
  font-size: 22px;
}
.fs-24 {
  font-size: 24px;
}

.fs-rem-4{
  font-size: 4rem;
}
.fs-rem-6{
  font-size: 6rem;
}


.fw-300{
font-weight:300 !important;
}
.fw-400{
font-weight:400 !important;
}
