<!-- <hr> -->
<!-- <footer class="footer">
<div class="container ">
	<div class="row">
			<div class="col-md-9">


			<ul class="list-inline ">
				<li><a title="Get Started" href="/get-started/">Get Started</a></li>
				<li><a title="Docs" href="/docs/"> Docs </a></li>
				<li><a title="Blogs" href="/blog/"> Blog </a></li>
				<li><a title="Engineering" href="/code/"> Engineering </a></li>
				<li><a title="Positions" href="/positions/"> Positions </a></li>
				<li><a title="Support" href="/support/"> Support </a></li>
				<li><a title="Contributors" href="/contributors/"> Contributors </a></li>
	 			<li><a title="SDK & APIs" href="/sdk-and-apis/">SDK & APIs</a></li>

			</ul>
			<div class="clearfix"></div>
		</div>


		<div class="col-md-3">
			<ul class="list-inline">
				<li class="white">RSQUARE LABS © 2012-16</li>
			</ul>
		</div>
	</div> -->


<!--
</div>
</footer> -->
<div class="container-fluid footer-author">
	<div class="row" styl>
		<div class="col-md-6">

		</div>
		<div class="col-md-6">
			Code licensed under <a href="/docs/#license">MIT</a>.
			Docs under <a href="https://tldrlegal.com/license/apache-license-2.0-(apache-2.0)">Apache 2</a>
			<span>|</span>
			&copy; 2013-2016 <a href="http://rsquarelabs.xyz/">Drifty Co</a>
		</div>
	</div>
</div>
