<!-- <hr> -->
<footer class="footer">
<div class="container ">
	<div class="row">
			<div class="col-md-9">


			<ul class="list-inline ">
				<li><a target="_blank" href="https://twitter.com/rsquarelabs" >@rsquarelabs</a></li>
				<li><a target="_blank" href="https://github.com/rsquarelabs/lucy/blob/dev/CONTRIBUTORS.md" >contributors</a></li>

			</ul>
			<div class="clearfix"></div>
		</div>


		<div class="col-md-3">
			<ul class="list-inline">
				<li class="white"><a target="_blank"  href="https://rsquarelabs.xyz">RSQUARE LABS</a> © 2012-16</li>
			</ul>
		</div>
	</div>



</div>
</footer>
